version: 1.0.{build}

branches:
  only:
    - master

skip_tags: true

image: Visual Studio 2022

configuration: Release
platform: x64

clone_folder: c:\projects\kdu

build_script:
  - msbuild Source/kdu.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143

after_build:
  - 7z a kdu-%APPVEYOR_BUILD_VERSION%.zip c:\projects\kdu\Source\**\output\x64\Release\*.exe c:\projects\kdu\Source\**\output\x64\Release\*.dll

artifacts:
  - path: kdu-%APPVEYOR_BUILD_VERSION%.zip
    name: kdu-build
